@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
  url("../fonts/OpenSansRegular.woff2") format("woff2"),
  url("../fonts/OpenSansRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Bold"), local("OpenSans-Bold"),
  url("../fonts/OpenSansBold.woff2") format("woff2"),
  url("../fonts/OpenSansBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Semi Bold"), local("OpenSans-SemiBold"),
  url("../fonts/OpenSansSemiBold.woff2") format("woff2"),
  url("../fonts/OpenSansSemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.page {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

/* global */
:root {
  --purple-primary: #9d5cd0;
  --purple-dark: #7943a4;
  --purple-light: #c283f3;
  --purple-lighter: #d1a9f0;

  --green: #30bf39;
  --blue: #26a5e4;
  --red: #d11616;

  --black: #000;

  --grey-darker: #333;
  --grey-dark: #666;
  --grey-primary: #999;
  --grey-light: #cacaca;
  --grey-lighter: #ececec;

  --white: #fff;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 160px;
}

.section-title {
  font-weight: 400;
  font-size: 48px;
  color: var(--grey-darker);
}

.section-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: var(--grey-darker);
}

.section-caption {
  font-weight: 400;
  font-size: 12px;
  color: #999;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.btn {
  padding: 22px 35px;
  border: 3px solid var(--purple-primary);
  border-radius: 100px;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: var(--white);
  background-color: var(--purple-primary);
}

/* header */
.header {
  font-size: 0;
  background-color: var(--black);
}

.header__container {
  display: flex;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.logo {
  margin-right: 180px;
}

.header__nav {
  margin-right: auto;
}

.nav {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 96px;
}

.nav__link {
  font-weight: 600;
  font-size: 18px;
  color: var(--white);
  outline: none;
  transition: color 0.2s ease-in-out;
}

.nav__link:focus {
  background-color: var(--purple-primary);
}

.nav__link:hover {
  color: var(--purple-light);
  background-color: transparent;
}

.nav__link:active {
  color: var(--purple-dark);
  background-color: transparent;
}

.search {
  width: 28px;
  height: 28px;
  background: url("../img/search.svg") no-repeat center;
  outline: none;
  transition: background-image 0.2s ease-in-out;
}

.search:focus {
  background-color: var(--purple-primary);
}

.search:hover {
  background-image: url("../img/search-hover.svg");
  background-color: transparent;
}

.search:active {
  background-image: url("../img/search-active.svg");
  background-color: transparent;
}

/* hero */
/* about */
/* gallery */
/* catalog */
/* events */
/* projects */
/* contacts */
/* footer */
