@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
  url("../fonts/OpenSansRegular.woff2") format("woff2"),
  url("../fonts/OpenSansRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Bold"), local("OpenSans-Bold"),
  url("../fonts/OpenSansBold.woff2") format("woff2"),
  url("../fonts/OpenSansBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Semi Bold"), local("OpenSans-SemiBold"),
  url("../fonts/OpenSansSemiBold.woff2") format("woff2"),
  url("../fonts/OpenSansSemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.page {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

/* global */
:root {
  --purple-primary: #9d5cd0;
  --purple-dark: #7943a4;
  --purple-light: #c283f3;
  --purple-lighter: #d1a9f0;

  --green: #30bf39;
  --blue: #26a5e4;
  --red: #d11616;

  --black: #000;

  --grey-darker: #333;
  --grey-dark: #666;
  --grey-primary: #999;
  --grey-light: #cacaca;
  --grey-lighter: #ececec;

  --white: #fff;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 160px;
}

.section-title {
  margin: 0;
  margin-bottom: 21px;
  font-weight: 400;
  font-size: 48px;
  color: var(--grey-darker);
}

.section-text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: var(--grey-darker);
}

.section-caption {
  font-weight: 400;
  font-size: 12px;
  color: #999;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

/* header */
.header {
  font-size: 0;
  background-color: var(--black);
}

.header__container {
  display: flex;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.logo {
  margin-right: 180px;
}

.header__nav {
  margin-right: auto;
}

.nav {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 96px;
}

.nav__link {
  font-weight: 600;
  font-size: 18px;
  color: var(--white);
  outline: none;
  transition: color 0.2s ease-in-out;
}

.nav__link:focus {
  background-color: var(--purple-primary);
}

.nav__link:hover {
  color: var(--purple-light);
  background-color: transparent;
}

.nav__link:active {
  color: var(--purple-dark);
  background-color: transparent;
}

.search {
  width: 28px;
  height: 28px;
  background: url("../img/search.svg") no-repeat center;
  outline: none;
  transition: background-image 0.2s ease-in-out;
}

.search:focus {
  background-color: var(--purple-primary);
}

.search:hover {
  background-image: url("../img/search-hover.svg");
  background-color: transparent;
}

.search:active {
  background-image: url("../img/search-active.svg");
  background-color: transparent;
}

/* hero */
.hero {
  background: var(--black) url("../img/hero_bg.jpg") no-repeat center bottom;
  background-size: cover;
}

.hero__container {
  padding-top: 146px;
  padding-bottom: 146px;
}

.hero__content {
  max-width: 579px;
}

.hero__title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 72px;
  line-height: 94%;
  color: var(--white);
}

.hero__descr {
  margin: 0;
  margin-bottom: 93px;
  font-weight: 700;
  font-size: 18px;
  line-height: 167%;
  color: var(--white);
}

.btn {
  position: relative;
  padding: 22px 33px;
  border: 3px solid var(--purple-primary);
  border-radius: 100px;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: var(--white);
  background-color: var(--purple-primary);
  outline: none;
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.btn::before {
  content: "";
  position: absolute;
  top: -8px;
  left: -8px;
  right: -8px;
  bottom: -8px;
  border-radius: 100px;
  border: 2px solid var(--purple-light);
  opacity: 0;
  /* transition: opacity 0.3s ease-in-out; */
}

.btn:focus::before {
  opacity: 1;
}

.btn:hover::before {
  opacity: 0;
}

.btn:active::before {
  opacity: 0;
}

.hero__btn:hover {
  border-color: var(--purple-light);
}

.hero__btn:active {
  border-color: var(--purple-lighter);
  background-color: var(--purple-dark);
}

/* about */
.about__container {
  padding-top: 85px;
  padding-bottom: 71px;
}

.about__descr {
  max-width: 1080px;
}

/* gallery */
.gallery {
  background: var(--black) url("../img/gallery_bg.jpg") no-repeat center bottom;
  background-size: cover;
}

.gallery__container {
  padding-top: 84px;
  padding-bottom: 80px;
}

.gallery__title {
  margin-bottom: 24px;
  color: var(--white);
}

.gallery__wrapper {
  display: flex;
  align-items: flex-end;
}

.gallery__checkboxes {
  height: fit-content;
  margin-right: auto;
  font-size: 0;
}

.custom-checkbox__input {
  position: absolute;
  appearance: none;
}

.custom-checkbox__text {
  position: relative;
  padding-left: 24px;
  white-space: nowrap;
  color: var(--white);
  cursor: pointer;
}

.custom-checkbox__input:focus + .custom-checkbox__text {
  color: var(--purple-light);
}

.custom-checkbox__text::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 12px;
  height: 12px;
  border: 1px solid var(--white);
  transform: translateY(-50%);
  transition: border-color 0.2s ease-in-out;
}

.custom-checkbox__text::after {
  content: "";
  position: absolute;
  left: 4px;
  top: 50%;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--purple-light);
  transform: translateY(-50%);
  opacity: 0;
}

.custom-checkbox__input:checked + .custom-checkbox__text::after {
  opacity: 1;
}

.custom-checkbox__input:checked + .custom-checkbox__text::before {
  border-color: var(--purple-light);
}

.custom-checkbox__input:focus + .custom-checkbox__text::before {
  border-color: var(--purple-light);
}

.custom-checkbox__input:hover + .custom-checkbox__text::before {
  border-color: var(--purple-light);
}

.custom-checkbox__input:active + .custom-checkbox__text::before {
  color: var(--purple-light);
}

.gallery__pictures {
  display: flex;
  gap: 50px;
  font-size: 0;
}

/* catalog */
.catalog__container {
  padding-top: 86px;
  padding-bottom: 80px;
}

.catalog__descr {
  max-width: 1080px;
  margin-bottom: 39px;
}

.catalog__list {
  display: flex;
  flex-direction: column;
  font-size: 0;
  gap: 50px;
}

.catalog__iteam {
  display: flex;
  gap: 50px;
}

.catalog__picture {
  flex-shrink: 0;
}

.catalog__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.catalog__caption {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 24px;
  color: var(--grey-darker);
}

.catalog__date {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 12px;
  color: var(--grey-primary);
}

/* events */
/* projects */
/* contacts */
/* footer */
